body{
    background-color: #2F243A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 20%;
}
.skeleton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5e5c6c;
    max-width: 40%;
    min-width: 350px;
    min-height: 500px;
    border:20px solid #5e5c6c; 
    }
    
.LCD{
    background-color: black;
    color: rgb(165, 255, 30);
    font-size: large;
    font-weight: 400;
    min-width: 80%;
    display: flex;
    flex-direction: row-reverse;
    padding:10% 10%;
    
}
.RowButton{
    display: flex;
    min-width: 100%;    
    justify-content: center;
}
button{
   padding:10% 0;  
   color: white;  
   font-size: large;
}
.buttonGeneral{
    min-width: 25%;
    min-height: 25%;
}

.specialButton{
    background-color: #89023E;
    
}
.clearButton{
    background-color: #0B5563;
    
}

.numButton{
    background-color: #30343F;
}
.symbolButton{
    background-color: #444054;
}