body{
    background-color: #BEB8EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 20%;
}
.skeleton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5e5c6c;
    max-width: 40%;
    min-width: 350px;
    
   /* margin-left: 20%;
    margin-right: 20%;*/
    
    min-height: 500px;
    max-height: 40%;
    border:20px solid #5e5c6c;
    
    
    
}
.LCD{
    background-color: black;
    color: rgb(165, 255, 30);
    min-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding:10% 0;
    
}
.RowButton{
    display: flex;
    
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
}
button{
   padding:10% 0;
    
}
.buttonGeneral{
    min-width: 25%;
    min-height: 25%;
}